<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="custom_token" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Token Settings</label>
            <tab>general</tab>
            <resource>Magento_Config::config</resource>
            <group id="token_group" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Token Configuration</label>
                <field id="token" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Token</label>
                </field>
            </group>
        </section>
    </system>
</config>
